<footer class="card shadow p-3 bg-body d-flex flex-row justify-content-around align-items-center" id="footer">
    <a href="/about" class="p-3" id="simple-link">About</a>
    <a href="#" class="p-3" id="simple-link">Privacy policy</a>
    <a href="#" class="p-3" id="simple-link">Terms of Services</a>
</footer>