<% layout('/layouts/boilerplate') %>

<h2 class="display-2"><%= post.title %></h2>
<p><%= post.description %></p>

<form action="/post/<%= post._id %>?_method=DELETE" method="POST" class="d-inline">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>

<a href="/post/update/<%= post._id %>" class="btn btn-primary">Update</a>