<% layout('/layouts/boilerplate') %>

    <h2 class="display-2">Update Post</h2>

    <form action="http://localhost:8000/post/<%= post._id %>?_method=PATCH" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title: </label>
            <input type="text" class="form-control" id="title" placeholder="title" name="title" value="<%= post.title %>">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea class="form-control" id="description" placeholder="description" name="description"><%= post.description %></textarea>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>